{{template "header" .}}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="user-select: auto;">
	<h1 class="display-4" style="user-select: auto;">{{.Title}}</h1>
    <!-- <p class="lead" style="user-select: auto;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p> -->
</div>

<div class="container">
    <div class="position-absolute mt-5 start-50 translate-middle" style="user-select: auto;">
	    <h2>Sorry my sweet heart, you cannot visit the page.</h2>
    </div>
</div>
{{template "footer" .}}
