{{template "header" .}}
<div class="container">
    <form action="/posts/save" method="post" accept-charset="utf-8">
	<div class="form-group">
	    <label for="PostTitle">Post Title</label>
	    <input type="text" class="form-control" name="PostTitle" id="PostTitle" aria-describedby="post title">
	    <small id="TitleHelp" class="form-text text-muted">Post Title is the general title.</small>
	</div>
	<div class="form-group">
	    <label for="PostDetail" class="form-label">Post Detail</label>
	    <textarea class="form-control" name="PostDetail" id="PostDetail" rows="3"></textarea>
	</div>
	<button type="submit" class="btn btn-primary mt-3">Commit</button>
    </form>
</div>
{{template "footer" .}}
