{{template "header" .}}
<div class="container">
    <h1>{{.Data.Post.Title}}</h1>
    {{markdown .Data.Post.Detail | unescapeHTML}}
    <div class="form-group">
	<ul class="list-group list-group-flush">
	    {{range $pr := .Data.PostReports}}
	    <div class="card mt-3 bg-light">
		<div class="card-body">
		    <h5 class="card-title">{{$pr.Vote.Title}}</h5>
		    <p class="card-text">
		    {{if $pr.Vote.A}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.A}}: {{$pr.A}}
		    </label>
		    {{end}}
		    {{if $pr.Vote.B}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.B}}: {{$pr.B}}
		    </label>
		    {{end}}
		    {{if $pr.Vote.C}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.C}}: {{$pr.C}}
		    </label>
		    {{end}}
		    {{if $pr.Vote.D}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.D}}: {{$pr.D}}
		    </label>
		    {{end}}
		    {{if $pr.Vote.E}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.E}}: {{$pr.E}}
		    </label>
		    {{end}}
		    {{if $pr.Vote.F}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.F}}: {{$pr.F}}
		    </label>
		    {{end}}
		    {{if $pr.Vote.G}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.G}}: {{$pr.G}}
		    </label>
		    {{end}}
		    {{if $pr.Vote.H}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.H}}: {{$pr.H}}
		    </label>
		    {{end}}
		    </p>
		</div>
	    </div>
	    {{end}}
	</ul>
    </div>
</div>
{{template "footer" .}}
