{{template "header" .}}
<div class="container">
    <table class="table">
	<thead>
	    <tr>
		<th scope="col">#️⃣ </th>
		<th scope="col">📜 Title</th>
		<th scope="col">📂 CategoryName</th>
		<th scope="col">👤 UserId</th>
		<th scope="col">🕙 UpdateTime</th>
	    </tr>
	</thead>
	<tbody>
	    {{range $i, $data := .Data.Articles}}
	    <tr>
		    	    <th scope="row">{{plusOne $i}}</th>
		<td><a href="/articles/v?id={{$data.ArticleId}}" class="text-decoration-none" >{{$data.Title}}</a></td>
		<td>{{$data.Category.Name}}</td>
		<td>@{{$data.UserId}}</td>
		    <td><span class="badge bg-dark">{{smartDate $data.UpdateTime $data.Title}}</span><span class="badge bg-light text-dark">{{smartTime $data.UpdateTime $data.Title}}</span></td>
	    </tr>
	    {{end}}
	</tbody>
    </table>
</div>
{{template "footer" .}}
