{{template "header" .}}
<div class="container w-50">
    <h1>{{.Data.Post.Title}}</h1>
    {{markdown .Data.Post.Detail | unescapeHTML}}
    <div class="form-group">
	<ul class="list-group list-group-flush">
	    {{range $pr := .Data.PostReports}}
	    <div class="card mt-3 bg-light">
		<div class="card-body">
		    <h5 class="card-title">{{$pr.Vote.Title}}</h5>
		    {{if $pr.Vote.A}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.A}}：{{$pr.A}}票！
		    </label>
		    <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-striped" style="width: {{$pr.PercentA}}%">{{$pr.PercentA}}%</div>
		    </div>
		    {{end}}
		    {{if $pr.Vote.B}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.B}}：{{$pr.B}}票！
		    </label>
		    <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-striped" style="width: {{$pr.PercentB}}%">{{$pr.PercentB}}%</div>
		    </div>
		    {{end}}
		    {{if $pr.Vote.C}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.C}}：{{$pr.C}}票！
		    </label>
		    <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-striped" style="width: {{$pr.PercentC}}%">{{$pr.PercentC}}%</div>
		    </div>
		    {{end}}
		    {{if $pr.Vote.D}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.D}}：{{$pr.D}}票！
		    </label>
		    <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-striped" style="width: {{$pr.PercentD}}%">{{$pr.PercentD}}%</div>
		    </div>
		    {{end}}
		    {{if $pr.Vote.E}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.E}}：{{$pr.E}}票！
		    </label>
		    <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-striped" style="width: {{$pr.PercentE}}%">{{$pr.PercentE}}%</div>
		    </div>
		    {{end}}
		    {{if $pr.Vote.F}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.F}}：{{$pr.F}}票！
		    </label>
		    <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-striped" style="width: {{$pr.PercentF}}%">{{$pr.PercentF}}%</div>
		    </div>
		    {{end}}
		    {{if $pr.Vote.G}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.G}}：{{$pr.G}}票！
		    </label>
		    <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-striped" style="width: {{$pr.PercentG}}%">{{$pr.PercentG}}%</div>
		    </div>
		    {{end}}
		    {{if $pr.Vote.H}}
		    <label class="list-group-item border-0 bg-light">
			{{$pr.Vote.H}}：{{$pr.H}}票！
		    </label>
		    <div class="progress mb-3" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-bar progress-bar-striped" style="width: {{$pr.PercentH}}%">{{$pr.PercentH}}%</div>
		    </div>
		    {{end}}
		    {{if $pr.Vote.HasTxtField}}
		    <h5 class="card-title mt-4">文本输入选项内容：</h5>
		    <ol class="list-group list-group-numbered">
			{{range $txtField :=$pr.TxtFields }}
			<li class="list-group-item">
			    {{$txtField}}
			</li>
			{{end}}
		    </ol>
		    {{end}}
		</div>
	    </div>
	    {{end}}
	</ul>
    </div>
</div>
{{template "footer" .}}
